@import '../../variables';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 260px;

  @media (max-width: 576px) {
    margin: 0 auto;
  }
}

.filter__label {
  margin-right: 15px;
  margin-bottom: 0;
}

.filter__dropdown {
  flex-grow: 1;

  &:focus {
    border-color: $light !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
